@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --mobile-size: 375px;
  --desktop-size: 1440px;
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-Gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after,
html,
body,
h1,
h2,
h3 {
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-size: 16px;
  font-family: Karla;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.heading {
  font-family: 'DM Serif Display';
}

.container {
  padding-inline: 1.82rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 0.65em 1.75em;
  color: white;
  letter-spacing: 1px;
  font-size: 0.95rem;
}

.btn:hover {
  color: var(--dark-violet);
  background-color: white;
  cursor: pointer;
}
#body.lock {
  height: 100vh;
  overflow: hidden;
}
.nav-container {
  z-index: 1001;
  position: relative;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-nav {
  color: var(--dark-grayish-violet);
  opacity: 0.75;
  font-weight: 700;
}
.btn-nav.active {
  color: var(--very-dark-violet);
  opacity: 1;
}

.btn-nav-view-plans {
  border-color: var(--dark-violet);
  color: var(--dark-violet);
  font-weight: 600;
}
.btn-nav-view-plans:hover {
  color: white;
  background-color: var(--dark-violet);
}
#btn-toggle {
  position: absolute;
  visibility: hidden;
}
/* Navbar mobile */
@media (max-width: 470px) {
  .nav__ul {
    display: none;
  }
  .nav__ul.open {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 3.125rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding-inline: 1rem;
    padding-block: 2rem;
    background-color: var(--dark-violet);
    background-image: url(./images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .nav__ul .btn,
  .nav__ul li {
    width: 100%;
    padding-block: 0.75rem;
    color: white;
    border: 0;
    font-size: 1.3rem;
  }
  .nav__ul .btn-nav-view-plans {
    border: 1.5px solid white;
  }
  .nav-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #btn-toggle {
    display: block;
    position: relative;
    visibility: visible;
    margin-top: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    background-image: url(./images/icon-hamburger.svg);

    background-repeat: no-repeat;
  }
}

#btn-toggle.btn-open {
  background-image: url(./images/icon-close.svg);
}

header img {
  width: 100%;
}
header {
  background-color: var(--dark-violet);
}
header .message {
  position: relative;
  color: white;
  padding-block: 6.25rem;
  z-index: 1;
}
header .message::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(./images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
header .message::after {
  content: '';
  position: absolute;
  inset: 0%;
  left: calc(100% - 123px);
  top: calc(100% - 153px);
  bottom: -520px;
  background: url(./images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  z-index: 100;
}

.message h1 {
  margin-top: -5px;
  font-size: 2.95rem;
  line-height: 1;
  font-weight: 400;
}

.message p {
  padding: 1.82rem;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--very-light-Gray);
  opacity: 0.75;
}

.message a {
  margin-top: 2.25rem;
}

/* We're Different */
.features {
  position: relative;
  margin-top: 9rem;
  padding-block: 2rem;
}
.features::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  inset: 0;
  background-color: var(--dark-violet);
  opacity: 0.4;
  left: calc(50% - 25%);
}

.features h2.heading {
  font-size: 2.75rem;
  font-weight: 500;
  color: var(--very-dark-violet);
}

.features__grid {
  margin-top: 4.5rem;
  display: grid;
  gap: 4rem;
}

.features__item img {
  margin: 0 auto;
}
.features__item h3 {
  margin-top: 2rem;
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--very-dark-violet);
}

.features__item p {
  margin-top: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--dark-grayish-violet);
  opacity: 0.75;
}

.cta {
  position: relative;
  margin-top: 7rem;
  background-color: var(--dark-violet);
  color: white;
  padding-block: 4.5rem;
  z-index: 1;
}

.cta::before {
  content: '';
  position: absolute;
  inset: 0;
  left: calc(100% - 170px);
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.cta h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.cta a {
  margin-top: 3rem;
}

.footer {
  position: relative;
  margin-top: 9rem;
  padding-block: 5.5rem;
  background-color: var(--very-light-Gray);
  z-index: 1;
}

footer::before {
  position: absolute;
  content: '';
  inset: 0;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.social img {
  margin-inline: auto;
}

.social__links {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  margin-top: 2rem;
  width: 150px;
}

.divider {
  margin-block: 2.5rem;
  height: 1px;
  width: 100%;
  background-color: var(--dark-grayish-violet);
  opacity: 0.25;
}

.footer nav {
  text-transform: uppercase;
}

.footer nav h3 {
  font-size: 0.9rem;
  color: var(--dark-grayish-violet);
}

.footer nav h3 {
  margin-top: 2rem;
}
.footer nav ul {
  margin-top: 2rem;
}
.footer nav li {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1;
  opacity: 0.85;
}
.footer nav li a {
  color: var(--very-dark-violet);
}

/* Desktop Layout */
@media (min-width: 50em) {
  body {
    text-align: left;
  }
  .container {
    padding-inline: 0;
    width: 78%;
    max-width: 1300px;

    margin-inline: auto;
  }
  header {
    position: relative;
    padding-top: 6rem;
    height: 38rem;
  }
  header::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 72.5%;
    bottom: -350px;
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
  }
  header::after {
    content: '';
    position: absolute;
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    top: -88px;
    left: calc(100% - 435px);
    bottom: 0;
    right: 0;
    z-index: 1000;
  }
  header .message {
    padding: 0;
  }
  .header_container .flex {
    display: flex;
    gap: 1.5rem;
    margin-inline: auto;
    width: 78%;
    max-width: 1300px;
  }
  .message {
    width: 50%;
  }
  header .message::before,
  header .message::after {
    background: none;
  }
  .header_container h1 {
    position: relative;
    padding-top: 3rem;
    font-size: 4.5rem;
  }
  .header_container h1::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 4.3ch;
    height: 1px;
    background-color: var(--very-light-Gray);
  }
  .message p {
    padding: 0;
  }
  .header_container img {
    width: 50%;
    order: 2;
  }
  .features {
    margin-top: 15rem;
  }
  .features::before {
    left: 0;
    width: 10ch;
  }
  .features h2.heading {
    font-size: 4rem;
  }

  .features__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }
  .features__item img {
    margin-left: 0;
    width: 5rem;
  }
  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
  }
  .cta::before {
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    left: calc(100% - 430px);
  }

  .cta .heading {
    max-width: 17.5ch;
  }
  .cta a {
    margin-top: 0;
  }

  .footer .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer .social img {
    margin: 0;
  }
  .footer .social__links {
    margin: 0;
  }
  .footer nav {
    display: flex;
    justify-content: start;
    /* gap: 12rem; */
  }
  .footer nav > ul {
    width: 25%;
  }
  .footer nav li {
    margin-inline: 0;
  }
  .footer .social_link:hover {
    filter: brightness(60%);
  }
  .footer li:hover a {
    text-decoration: underline;
  }
}
