@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --mobile-size: 375px;
  --desktop-size: 1440px;
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-Gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after,
html,
body,
h1,
h2,
h3 {
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-size: 16px;
  font-family: Karla;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.heading {
  font-family: 'DM Serif Display';
}

.container {
  padding-inline: 1.82rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 0.65em 1.75em;
  color: white;
  letter-spacing: 1px;
  font-size: 0.95rem;
}

header img {
  width: 100%;
}

header .message {
  position: relative;
  background-color: var(--dark-violet);
  color: white;
  padding-block: 6.25rem;
  z-index: 1;
}
header .message::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(./images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
header .message::after {
  content: '';
  position: absolute;
  inset: 0%;
  left: calc(100% - 123px);
  top: calc(100% - 153px);
  bottom: -520px;
  background: url(./images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  z-index: 100;
}

.message h1 {
  margin-top: -5px;
  font-size: 2.95rem;
  line-height: 1;
  font-weight: 400;
}

.message p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--very-light-Gray);
  opacity: 0.75;
}

.message a {
  margin-top: 2.25rem;
}

/* We're Different */
.features {
  position: relative;
  margin-top: 9rem;
  padding-block: 2rem;
}
.features::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  inset: 0;
  background-color: var(--dark-violet);
  opacity: 0.4;
  left: calc(50% - 25%);
}

.features h2.heading {
  font-size: 2.75rem;
  font-weight: 500;
  color: var(--very-dark-violet);
}

.features__grid {
  margin-top: 4.5rem;
  display: grid;
  gap: 4rem;
}

.features__item img {
  margin: 0 auto;
}
.features__item h3 {
  margin-top: 2rem;
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--very-dark-violet);
}

.features__item p {
  margin-top: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--dark-grayish-violet);
  opacity: 0.75;
}

.cta {
  position: relative;
  margin-top: 7rem;
  background-color: var(--dark-violet);
  color: white;
  padding-block: 4.5rem;
  z-index: 1;
}

.cta::before {
  content: '';
  position: absolute;
  inset: 0;
  left: calc(100% - 170px);
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.cta h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.cta a {
  margin-top: 3rem;
}

.footer {
  position: relative;
  margin-top: 9rem;
  padding-block: 5.5rem;
  background-color: var(--very-light-Gray);
  z-index: 1;
}

footer::before {
  position: absolute;
  content: '';
  inset: 0;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.social img {
  margin-inline: auto;
}

.social__links {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  margin-top: 2rem;
  width: 150px;
}

.divider {
  margin-block: 2.5rem;
  height: 1px;
  width: 100%;
  background-color: var(--dark-grayish-violet);
  opacity: 0.25;
}

.footer nav {
  text-transform: uppercase;
}

.footer nav h3 {
  font-size: 0.9rem;
  color: var(--dark-grayish-violet);
}

.footer nav h3 {
  margin-top: 2rem;
}
.footer nav ul {
  margin-top: 2rem;
}
.footer nav li {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1;
  color: var(--very-dark-violet);
  opacity: 0.85;
}
